<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>详情</title>

</head>

<body>
    <%- include("bar.ejs",{username:username}) %>

        <div class="wrapper">
            <div class="title">
                <h2>
                    <%= data.title %>
                </h2>
                <span>发布人: <%= data.username %></span>
                <span>发布日期: <%= data.time %></span>
            </div>
            <div class="content">
                <%= data.content %>
            </div>
        </div>
</body>


</html>